<div class="mrg15 op2">
  <div class="opdiv opL" id="op2L">
    <mrg5>Paper <%= idx %></mrg5>
  </div>
  <div class="opdiv opM" id= "<%= "op2M"+idx %>">
  <select class="slctPaper" name="slctPaper<%=idx %>" id="slctPaper<%=idx %>">
    <%- slctPprHtml %>
  </select>
  <button id="aplySlctPprPrice<%=idx %>">></button>
  <input
    class="withCommas"
    type="text"
    name="slctPaperPrice<%=idx %>"
    id="slctPaperPrice<%=idx %>"
    style="width: 45px"
  />
  <label for="slctPaperPrice<%=idx %>">LKR</label>
  <mrg5>/</mrg5>
  <select name="slctRm<%=idx %>" id="slctRm<%=idx %>">
    <option>500</option>
    <option>100</option>
  </select>
  <mrg5>*</mrg5>
  <input
    type="text"
    class="wid80 withCommas"
    name="pprcount<%=idx %>"
    id="pprcount<%=idx %>"
    min="0"
  />
  <mrg5>+</mrg5>
  <input
    type="number"
    class="wid60"
    name="extraPpr<%=idx %>"
    id="extraPpr<%=idx %>"
    min="0"
  />
</div>
<div class="opdiv opR" id="op2R">
  <mrg5 class="cos" id="cos2x<%=idx%>"></mrg5>
</div>
</div>

<script type="module">
  const idxx = "<%= idx %>";
  var deci = { minimumFractionDigits: 2, maximumFractionDigits: 2 };
  let priceOfSelectedPpr = 0;
  $("#op2M" + idxx).on("change", calOp2);
  $("#slctPaper" + idxx).on("change", GetSlctPprPrice);
  $("#aplySlctPprPrice" + idxx).on("click", ApplySlctPprPrice);

  function calOp2() {
    let thePrice = Number(
      $("#slctPaperPrice" + idxx)
        .val()
        .replace(/,/g, "")
    );
    let pprCount = Number(
      $("#pprcount" + idxx)
        .val()
        .replace(/,/g, "")
    );
    var extraPpr = Number($("#extraPpr" + idxx).val());
    var reem = Number($("#slctRm" + idxx).val());
    var outcome = (thePrice / reem) * (pprCount + extraPpr);
    $("#cos2x" + idxx).html(outcome.toLocaleString("en-US", deci));

    if (thePrice === priceOfSelectedPpr) {
      $("#slctPaperPrice" + idxx).css("color", "black");
    } else {
      $("#slctPaperPrice" + idxx).css("color", "firebrick");
    }
  }
  function GetSlctPprPrice() {
    priceOfSelectedPpr = $("#slctPaper" + idxx + " option:selected").data("pr");
  }
  function ApplySlctPprPrice() {
    $("#slctPaperPrice" + idxx).val(priceOfSelectedPpr.toLocaleString());
    calOp2();
  }
  GetSlctPprPrice();
  calOp2();
</script>
