<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="gts" content="width=device-width, initial-scale=1.0" />
    <title>GTS</title>
  </head>
  <body>
    <br />
    <br />
    <select id="newType">
      <% for( let i = 0; i < data.types.length; i++ ) { %>

      <option value="<%= i %>"><%=data.types[i] %></option>
      <% } %>
    </select>
    <input type="number" id="newGsm" placeholder="GSM" />
    <input type="number" id="newSizeH" placeholder="Height" />
    <input type="number" id="newSizeW" placeholder="Width" />
    <select id="newBrand">
      <% for( let i = 0; i < data.brands.length; i++ ) { %>

      <option value="<%= i %>"><%=data.brands[i] %></option>
      <% } %>
    </select>
    <input type="number" id="newPrice" placeholder="Price" />
    <button id="addItem">Add Paper</button>
    <br />
    <br />
    <select>
      <% data.weHave.forEach(function(paper) { %>
      <option>
        <%=`${data.types[paper.type]} ${paper.gsm}gsm
        ${paper.sizeW}x${paper.sizeH} ${data.brands[paper.brand]}`%>
      </option>
      <% }); %>
    </select>
  </body>
  <script type="module">
    $("#addItem").on("click", addNewPaper);

    function addNewPaper() {
      const type = $("#newType").val();
      const gsm = $("#newGsm").val();
      const sizeH = $("#newSizeH").val();
      const sizeW = $("#newSizeW").val();
      const brand = $("#newBrand").val();
      const price = $("#newPrice").val();
      const id =
        type.padStart(2, "0") +
        gsm.padStart(3, "0") +
        sizeH.padStart(2, "0") +
        sizeW.padStart(2, "0") +
        brand.padStart(2, "0");
      const exportArry = [type, brand, gsm, sizeH, sizeW, price, id];
      if (exportArry.includes("")) {
        alert("enter invalid.");
        return;
      }

      $.post(
        "/additemx",
        { type, brand, gsm, sizeH, sizeW, price, id },
        function (data) {
          if (data.success) {
            console.log("Item added!");
            location.reload();
          } else {
            alert("Error adding item.");
          }
        }
      );
    }
  </script>
</html>
