<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="qt" content="width=device-width, initial-scale=1.0" />
    <title>Quotations</title>
  </head>
  <body>
    <br />
    <br /><%- include("qtparts/qtUps.ejs") %>

    <div id="div4op0"><%- include("qtparts/qt0.ejs") %></div>
    <div id="div4op1"><%- include("qtparts/qt1.ejs") %></div>
    <div id="div4op2">
      <% for( let i = 1; i <11; i++ ) { %>
      <div id="div4op2x<%= i %>">
        <%- include("qtparts/qt2.ejs",{idx:i,slctPprHtml}) %>
      </div>
      <% } %>
    </div>
    <div id="div4op3"><%- include("qtparts/qt3.ejs") %></div>

    <div id="div4opX"><%- include("qtparts/qtX.ejs") %></div>
    <div id="div4opxTot"><%- include("qtparts/qtxTot.ejs") %></div>
  </body>
</html>
