<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="Stock" content="width=device-width, initial-scale=1.0" />
    <title>Stock</title>
  </head>
  <body>
    <div class="qtDiv" style="clear: both">
      <div class="opdiv" style="width: 800px">
        <input type="datetime-local" id="dtSTK" />
        <input
          type="text"
          style="width: 250px"
          placeholder="Description..."
          id="desSTK"
        />

        <input
          type="number"
          class="calCngSTK"
          style="width: 50px"
          id="rmSTK"
          placeholder="RMs"
          value="0"
        />
        <input
          type="number"
          class="calCngSTK"
          style="width: 60px"
          id="shSTK"
          placeholder="sheets"
          value="0"
        />
        <span id="chngSTK"></span>
        <select id="dirSTK">
          <option value="minus">Sell</option>
          <option value="plus">Stock</option>
        </select>
        <button id="recStock">Enter</button>
      </div>
    </div>

    <% for( let i = 0; i < stockRecs.length; i++ ) { %>
    <div class="qtDiv" style="clear: both">
      <div class="opdiv" style="width: 100px">
        <span class="midTxt"><%= stockRecs[i].dtSTK.split("T")[0] %></span>
      </div>
      <div class="opdiv" style="width: 300px">
        <span style="font-size: smaller"><%= stockRecs[i].desSTK %></span>
      </div>
      <div class="opdiv txtRight" style="width: 30px">
        <des><%= Math.floor(stockRecs[i].chngSTK/500) %></des>
      </div>

      <div class="opdiv" style="width: 50px; margin-left: -5px">
        <des><%="/ "+(stockRecs[i].chngSTK)%500 %></des>
      </div>
      <div class="opdiv txtRight" style="width: 100px">
        <des>
          <% const chng = Number(stockRecs[i].chngSTK); %> <%=
          (stockRecs[i].dirSTK==="plus" ? '+' : '-') + chng.toLocaleString() %>
        </des>
      </div>
    </div>
    <% } %>

    <div style="clear: both; position: fixed; bottom: 0px; margin-left: 15px">
      <div class="opdiv" style="width: 600px"></div>
      <div class="opdiv" style="width: 200px"></div>
      <div class="opdiv" style="width: 200px"></div>
    </div>
    <script>
      $("#recStock").on("click", recStock);
      $(".calCngSTK").on("change", calCngSTK);
      var chngSTK = 0;

      function recStock() {
        const dtSTK = $("#dtSTK").val();
        const desSTK = $("#desSTK").val().trim();
        const dirSTK = $("#dirSTK").val();

        $.post(
          "/recStock",
          { dtSTK, desSTK, chngSTK, dirSTK },
          function (data) {
            if (data.success) {
              console.log("Item added!");
              location.reload();
            } else {
              alert("Error adding item.");
            }
          }
        );
      }
      function calCngSTK() {
        chngSTK =
          parseFloat($(".calCngSTK").eq(0).val()) * 500 +
          parseFloat($(".calCngSTK").eq(1).val());
        $("#chngSTK").html(chngSTK.toLocaleString());
      }
    </script>
  </body>
</html>
